{% extends template  %}

{% block title %}Save Page{% endblock %}

{% block h1 %}Save Page{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.type) }}
    {{ form_row(form.parent) }}
    {{ form_row(form.name) }}
    {{ form_row(form.url) }}
    {{ form_row(form.title) }}
    {% if page.id is defined and page.id is not empty and page.image is not empty %}

        <img src="{{ params.image.url_path ~ '/small_' ~page.image }}">
        <p><a href="{{ path('admin_page_delete_image', {id: page.id}) }}" onclick="return confirm('Delete image?')">Delete Image</a> </p>
    {% endif %}
    {{ form_row(form.image) }}
    {{ form_row(form.isRecentlyPreview) }}
    {{ form_row(form.description) }}
    {{ form_row(form.preview) }}
    {{ form_row(form.body) }}
    <p><a href="{{ path('admin_page_index') }}">Cancel</a> | <button type="submit">Save</button> </p>
    {{ form_end(form) }}

{% endblock %}