{% extends 'admin_base.html.twig' %}

{% block title %}Save Page{% endblock %}

{% block h1 %}Save Page{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-4">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Default</h3>
                </div>

                <div class="card-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.position) }}
                </div>
            </div>

            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">SEO</h3>
                </div>
                <div class="card-body">
                    {{ form_row(form.url) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.isRecentlyPreview) }}
                </div>
            </div>

            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Image</h3>
                </div>
                <div class="card-body">
                    {% if page.id is defined and page.id is not empty and page.image is not empty %}

                        <img src="{{ params.image.url_path ~ '/small_' ~page.image }}">
                        <p><a href="{{ path('admin_page_delete_image', {id: page.id}) }}"
                              onclick="return confirm('Delete image?')">Delete Image</a></p>
                    {% endif %}
                    {{ form_row(form.image) }}
                </div>
            </div>

            {% include '@Menu/elements/tree_block.html.twig' with {
                    itemTemplate : '@Page/elements/tree_item.html.twig',
                    itemsBottomTemplate : '@Page/elements/tree_bottom.html.twig',
                    entity: page.menu
                }
            %}



        </div>
        <div class="col-8">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Content Information</h3>
                </div>

                <div class="card-body">
                    {{ form_row(form.preview) }}
                    {{ form_row(form.body) }}
                </div>

            </div>
        </div>
    </div>
    <p><a href="{{ path('admin_page_index') }}">Cancel</a> |
        <button class="btn btn-primary" type="submit">Save</button>
    </p>
    {{ form_end(form) }}

{% endblock %}